.list-detail-wrapper {
	padding-left: 9px;
}
.list-product-name {
	font-size: 14px;
	color: #222222;
	margin-bottom: 4px;
}

.list-product-seller {
	font-size: 13px;
	color: #595959;
	margin-bottom: 4px;
}

.list-product-price {
	font-size: 16px;
	color: #222222;
}