@import "../variables.scss";

.product-show-menu {
  background: none;
  text-align: left;
  color: inherit;
  width: 100%;
  border: none;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 24px;
  transition: transform 100ms ease-out, background 150ms ease-out;
}

.product-show-menu:hover {
  background-color: rgba(182, 182, 182, 0.541);
  transform: scale(1.01);
}

.add-to-cart {
  background: black;
  color: white;
  width: 98%;
  margin: auto;
  border-radius: 24px;
  height: 48px;
  font-size: 16px;
  border: none;
  transition: 100ms;
  margin-bottom: 12px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: rgb(46, 46, 46);
  transform: scale(1.025);
}

.add-to-cart:active {
  background-color: $main-color;
}

.quantity {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background: #ffffff;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  display: block;
  cursor: pointer;
}

.product-quantity select {
	font-size: 16px;
	padding-left: 12px;
}

.quantity:hover {
  box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.4);
}

.product-price {
  font-size: 28px;
  font-weight: 600;
}

.price-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.product-title {
  font-size: 26px;
  font-weight: 300;
  padding: 10px 10px 10px 0;
}

.quantity-title {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
}
.product-quantity {
  margin-top: 10px;
  margin-bottom: 12px;
}

.seller-info {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.num-sales {
  font-size: 13px;
}

.product-icons {
  width: 48px;
  height: 48px;
  font-size: 40px;
  margin-right: 8px;
}

.product-icons-truck {
  width: 52px;
  height: 52px;
  font-size: 40px;
  margin-right: 8px;
}

.product-wants,
.arrives-by {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.product-misc-text {
  display: flex;
  flex-direction: col;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.product-show-menu-content {
  padding: 10px;
  font-size: 16px;
  transition: 2s ease-out;
}

.product-show-menu {
  display: flex;
  justify-content: space-between;
}
.drop-icon {
  font-weight: 600;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  // transform: rotate(180deg);
  transition: all 150ms;
}

.hide {
  opacity: 0;
  height: 0 !important;
}
.product-show-menu:active .drop-icon {
  transform: rotate(180deg);
}

.product-info-sidebar {
  height: 700px;
}
