.cart-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 24px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.cart-header > h3 {
  font-size: 32px;
  line-height: 36px;
  padding-left: 12px;
}

.cart-header > a {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 24px;
  transition: transform 100ms ease-out, background 150ms ease-out;
}

.cart-header > a:hover {
  background-color: rgba(182, 182, 182, 0.541);
  transform: scale(1.01);
}

.ind-seller-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
  padding: 0 12px;
}

.ind-cart-wrapper {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: space-between;
}

.non-checkout-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.checkout-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 36%;
}

.detail-wrapper {
  display: flex;
  margin-bottom: 24px;
}

.photo-wrapper {
  width: 212px;
  height: 160px;
}

.photo-wrapper > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.fine-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.quantitative-details {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.ind-quantity {
  width: 40px;
  height: 25px;
}

.non-photo-wrapper {
  display: flex;
  justify-content: space-around;
	margin-top: 12px;
  width: 100%;
}

.price-total, .shipping {
	display: flex;
	justify-content: space-between;
}

.price-total {
	margin-bottom: 12px;
}

.shipping {
	border-top: 1px solid grey;
	padding-top: 12px;
	margin-bottom: 36px;
}

.bttn {
  background: none;
  color: inherit;
  border: none;
  padding: 12px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 24px;
  transition: transform 100ms ease-out, background 150ms ease-out;
}

.bttn:hover {
  background-color: rgba(182, 182, 182, 0.541);
  transform: scale(1.01);
}

.chkt {
	background: black;
	color: white;
}

.chkt:hover {
	background-color: black;
}

.rmv {
	width: 80px;
	font-size: 13px;
	font-weight: 600;
}