.cart-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 24px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
	margin-bottom: 12px;
}

.cart-header > h3 {
  font-size: 32px;
  line-height: 36px;
	padding-left: 12px;
}

.ind-cart-wrapper {
  border-bottom: 1px solid grey;
}

.cart-header > a  {
	background: none;
	border: none;
	color: black;
	font-size: 16px;
	padding: 12px 16px;
	border-radius: 24px;
	transition: transform 100ms ease-out, background 150ms ease-out;
}

.cart-header > a:hover {
	background-color: rgba(182, 182, 182, 0.541);
	transform: scale(1.01);
}
