@import "../variables.scss";

@media (min-width: 900px) {
  .special-header {
    padding: 16px;
    text-align: center;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
  }

  .special-sub-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 8px;
  }
  .special-background {
    width: 100%;
    height: fit-content;
    background-color: $main-color;
  }

  .splash-special {
    display: grid;
    grid-auto-columns: minmax(100px, 240px);
    grid-auto-rows: minmax(100px, 240px);
    grid-template-areas: "link link link link link link";
    background-color: $main-color;
    margin: auto;
    box-sizing: border-box;
    max-width: 1400px;
    height: fit-content;
  }

  .special-item-link-1,
  .special-item-link-2,
  .special-item-link-3,
  .special-item-link-4,
  .special-item-link-5,
  .special-item-link-6 {
    grid-area: link;
    justify-self: center;
    margin: 20px;
  }

  .special-item-link-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .special-item-link-2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .special-item-link-3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .special-item-link-4 {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .special-item-link-5 {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  .special-item-link-6 {
    grid-column-start: 6;
    grid-column-end: 7;
  }

  .splash-special .product-photo {
    width: 100%;
    height: 100%;
  }

  .splash-special .photo-wrapper {
    max-width: 160px;
    max-height: 160px;
    width: calc(100% + 100px);
    height: 100%;
    min-width: 100px;
    // min-height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .splash-category {
    text-align: center;
    padding-top: 8px;
    width: 100%;
    color: black;
    font-weight: 500;
  }

  .popular-header {
    font-size: 28px;
    font-weight: 400;
    margin: 32px auto;

  }
  .splash-popular {
    display: flex;
    flex-direction: column;
  }

  .popular-list {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .splash-popular .photo-wrapper {
    max-width: 250px;
    max-height: 200px;
    margin: 9px;
    width: 250px;
    height: 200px;
    border-radius: 0;
  }

  .splash-popular .product-photo {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .special-header {
    padding: 16px;
    text-align: center;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
  }

  .special-sub-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 8px;
  }
  .special-background {
    width: 100%;
    height: fit-content;
    background-color: $main-color;
  }

  .splash-special {
    display: grid;
    grid-auto-columns: minmax(100px, 240px);
    grid-auto-rows: minmax(100px, 240px);
    grid-template-areas:
      "link link link"
      "link link link";
    background-color: $main-color;
    margin: auto;
    box-sizing: border-box;
    max-width: 1400px;
    height: fit-content;
    width: fit-content;
  }

  .special-item-link-1,
  .special-item-link-2,
  .special-item-link-3,
  .special-item-link-4,
  .special-item-link-5,
  .special-item-link-6 {
    grid-area: link;
    justify-self: center;
    margin: 20px;
    box-sizing: border-box;
  }

  .special-item-link-1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .special-item-link-2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .special-item-link-3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .special-item-link-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .special-item-link-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .special-item-link-6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .splash-special .product-photo {
    width: 100%;
    height: 100%;
  }
  .splash-special .photo-wrapper {
    max-width: 160px;
    max-height: 160px;
    width: calc(100% + 50px);
    height: calc(100% + 16px);
    min-width: 100px;
    // min-height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .splash-category {
    text-align: center;
    padding-top: 8px;
    width: 100%;
    color: black;
    font-weight: 500;
  }
}

.loading {
  text-align: center;
  font-size: 60px;
}

.greeting {
  margin-top: 12px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}
