.nav-menu {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 124px;
  border: 1px solid rgba(182, 182, 182, 0.541);
  background-color: white;
  transition: 500ms ease-in;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 15%);
}

.nav-menu > div {
  padding: 8px;
}

.logout-bttn {
  cursor: pointer;
}

.nav-menu > div:hover {
  width: 100%;
  background-color: rgba(182, 182, 182, 0.541);
}
