@import "./variables.scss";

@media(min-width: 900px) {
  .top-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 36px 12px 0px 36px;
    max-width: 1400px;
    margin: auto;
    align-items: center;
  }

  header {
    max-width: 1400px;
    margin: auto;
  }

  .search-section {
		display: flex;
    width: 1000px;
		height: 36px;
		border: 1px solid black;
    border-radius: 24px;
		justify-content: center;
		align-items: center;
  }

  .search-bar {
    width: 95%;
		border: none;
		padding-left: 12px;
  }

	.search-bar:focus {
		outline: none;
	}

	.fas {
		display: flex;
		justify-content: center;
		align-content: center;
		height: 100%;
	}

	.fa-search::before {
		width: 40px;
		align-self: center;
		justify-self: center;
	}


  .home-link {
    width: 150px;
    height: 60px;
  }
  .home-logo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: $main-color;
    font-weight: 500;
  }

  .nav-bttn {
    background: none;
    color: inherit;
    border: none;
    padding: 1px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 24px;
    transition: transform 100ms ease-out, background 150ms ease-out;
  }

  .nav-show-menu {
    background: none;
    color: inherit;
    border: solid black 1px;
    width: 40px;
    height: 40px;
    // padding: 10px 12px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 50%;
    transition: transform 100ms ease-out, background 150ms ease-out;
  }

  .nav-bttn:hover,
  .nav-show-menu:hover {
    background-color: rgba(182, 182, 182, 0.541);
    transform: scale(1.01);
  }

  .nav-menu {
    z-index: 2;
    position: absolute;
    margin-top: 10px;
  }
}

@media(max-width: 900px) {
  .top-nav {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 50px; 
    grid-template-areas: 
      "logo placeholder placeholder signin"
      "search search search search";
    justify-items: center;
    padding: 36px 12px 0px 36px;
    margin: auto;
  }

  .placeholder {
    grid-area: placeholder;
  }

  header {
    width: auto;
    margin: auto;
  }

  .search-section {
    width: 80%;
    border-radius: 25%;
    grid-area: search;
    align-self:center;
  }
  
  .search-bar {
    width: 100%;
  }

	.fas {
		padding-right: 12px;
	}

  .home-link {

    width: 150px;
    height: 60px;
  }
  .home-logo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-area: logo;
    font-size: 50px;
    color: $main-color;
    font-weight: 500;
    align-self:center;
  }

  .login-signup {
    grid-area: signin;
    align-self: center;
  }

  .nav-bttn {
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 24px;
    transition: transform 100ms ease-out, background 150ms ease-out;
  }

  .nav-show-menu {
    background: none;
    color: inherit;
    border: solid black 1px;
    width: 40px;
    height: 40px;
    // padding: 10px 12px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 50%;
    transition: transform 100ms ease-out, background 150ms ease-out;
  }

  .nav-bttn:hover,
  .nav-show-menu:hover {
    background-color: rgba(182, 182, 182, 0.541);
    transform: scale(1.01);
  }

  .nav-menu {
    z-index: 2;
    position: absolute;
    margin-top: 10px;
  }

}