.top-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 36px 12px;
  max-width: 1400px;
  margin: auto;
  align-items: center;
}

header {
  max-width: 1400px;
  margin: auto;
}

.search-section {
  width: 80%;
  border-radius: 25%;
}

.search-bar {
  width: 100%
}
.home-link {
  width: 80px;
  height: 40px;
}
.home-logo {
  font-size: 32px;
  color: rgb(12, 165, 165);
  font-weight: 500;
}

.login-button {
  background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.login-button:hover {
  background-color: rgba(182, 182, 182, 0.541);
  padding: 10px;
  border-radius: 24px;
  transition: transform 2s ease-out, background 150ms ease-out
}

.close-x {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: -60px;
  top: 0px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 24px;
}

.close-x:hover {
  background-color: rgba(182, 182, 182, 0.541);
  transition: 1s;
}